


html, body {
	height:  100%;
}

.sky {
	height: 75%;
	position: relative;
	text-align: center;
}


.earth {
	height: 25%;
	background-color: black;
}


/*#penguin {
	position: absolute;
	bottom: 0;
}
*/

#moon {
	position: absolute;
}

.penguin {
	position: absolute;
	bottom: 0;
	/*text-align: center;*/
}


.bird {
	position: absolute;
}

.flock {
	position: absolute;
	height: 50px;
	display: inline-block;
}

